<!-- Trey don't laugh.... I just did this really quick so it'd be readable -->

	<div class="indiv-widget blog-categories">
		<div class="widget-topper"></div>
		<div class="widget-content">
			<% if @catagories.nil? %>
				<h3></h3>
				<p>No Categories Available</p>
			<% else %>
				<h3></h3>
				<% @catagories.each do |f| %>
					<%= link_to "#{f.name}", :action => "show_catagories", :id => f.name %><br>
				<% end %>
			<% end %>
			<% unless session[:admin_id] %>
				<br><%= link_to "Manage Catagories", catagories_path %>
			<% end %>
		</div>
		<div class="widget-bottom"></div>
	</div>
