<div class="edit-page">
	<div class="topper"></div>
	<div class="main-content">
		
		<h2>Editing affiliate</h2>

		<%= render 'form' %>

		<%= link_to 'Show', @affiliate %> |
		<%= link_to 'Back', affiliates_path %>

	</div>
	<div class="bottom"></div>
</div>