<h1>Promotions#new</h1>
<p>Find me in app/views/promotions/new.html.erb</p>


<% form_for @spreadsheets do |f| -%>
  <%= f.label :spreadsheet , "Upload:" %>
  <%= f.file_field :spreadsheet %>
<% end -%>