<h1>Promotions Spreadsheets</h1><br><br>

<%= link_to "Upload", new_spreadsheet_path %><br>
<%= link_to "Back", spreadsheets_path() %>


<% if @spreadsheet.empty? %>
	No data has been uploaded or your data has not yet been processed.
<% else %>
	<table cellspacing="15" cellpadding="5">
		<tr>
			<% @column_names.each do |f| %>
				<th><%= f %></th>
			<% end %>
		</tr>
		<% @spreadsheet.each do |f| %>
			<tr>
				<% i = 0 %>
				<% until i >= 12 %>
					<td><%= f.last[i] %></td>
					<% i+=1 %>
				<% end %>
			</tr>
		<% end %>
	</table>

<% end %>
