<div id="footer-topper"></div>
<div id="footer-container">
	<ul id="footer">
		<li><a class="footer-link">Item 1</a></li>
		<li><a class="footer-link">Item 2</a></li>
		<li><a class="footer-link">Item 3</a></li>
		<li><a class="footer-link">Item 4</a></li>
	</ul>
</div>