<div id="nav-container">
	<div id="navigation">
		<h1 id="root-link"><a href="/">root</a></h1>
		<ul id="minor-nav">
			<li class="minor-link"><a href="/blog">Good Reads</a></li>
			<li class="minor-link"><a href="http://twitter.com/bigblockdeals" target="blank">Twitter</a></li>
			<li class="minor-link"><a href="http://facebook.com/bigblockdeals">Facebook</a></li>
			<li class="minor-link"><a href="/contact">Contact</a></li>
			<li class="minor-link"><a href="/about-us">About Us</a></li>
		</ul>
		<ul id="greater-nav">
			<li class="greater-nav-item">
				<%= link_to	'', :root, :id => 'today-link' %>
			</li>
			<li class="greater-nav-item"><%= link_to '', :recent_deal, :id => 'recent-deals' %></li>
			<li class="greater-nav-item"><%= link_to '', :how_it_works_consumer, :id => 'how-it-works' %></li>
			<li class="greater-nav-item"><%= link_to '', :for_business, :id => 'business-link' %></li>
			<li class="greater-nav-item"><a id="login-link" href="#"></a></li>
		</ul>
		<div id="login-dropdown">
		
		</div>
	</div>
</div>
