
<div class="quote-container">
	
	<a href="#" id="quote-closer">×</a>
	<div id="all-quotes">

		<div class="indiv-quote">
			<p class="main-quote-text">Here's some example text to see how this stuff looks when it's all styled.</p>
			<p class="main-quote-author"> - Author Name</p>
		</div>
		
		<div class="indiv-quote">
			<p class="main-quote-text">Another really really nice quote that people will really love to read.</p>
			<p class="main-quote-author"> - John Doe</p>
		</div>
		
	</div>
	
	<div id="controls">
		<a href="#" class="quote-left-btn prev"></a>
		<a href="#" class="quote-right-btn next"></a>
	</div>

</div>