<div class="sidebar">
	<% if  %>
				<div class="indiv-widget">
					<div class="widget-topper"></div>
					<div class="widget-content">
						<img src="/images/sidebar-signup-title.jpg"/>
						<form class="sidebar-form">
							<label>Email</label>
							<input value="" name="email" type="text"></input>
							<label>ZIP</label>
							<input value="" name="ZIP" type="text"></input>
							<input class="submit-btn" value="Let's do this!" name="submit" type="submit"></input>
						</form>
					</div>
					<div class="widget-bottom"></div>
				</div>
				<div class="indiv-widget">
					<div class="widget-topper"></div>
					<div class="widget-content">
						<img class="widget-image" src="/images/armbar_example.jpg"/>
						<h3 class="widget-title">Baby Armbar</h3>
						<span class="widget-text">T9000 baby dominates other babies with armbars. <a href="#" class="widget-link">Example Link</a></span>
						<span class="minor-widget-text">Says Sensai.</span>
					</div>
					<div class="widget-bottom"></div>
				</div>
			</div>