<div class="sidebar">
	<% if @page == "good_read" %>
	<p>test</p>
		<%= render 'good_reads/categories' %>
		<%= render 'good_reads/dates' %>
	<% else %>
		<%= render 'layouts/widgets' %>
	<% end %>
</div>



