

<div class="sidebar">
	
	<div class="indiv-widget">
		<div class="widget-topper"></div>
		<div class="widget-content">
			<img src="/images/sidebar-signup-title.jpg"/>
			<form class="sidebar-form">
				<label>Email</label>
				<input value="" name="email" type="text"></input>
				<label>ZIP</label>
				<input value="" name="ZIP" type="text"></input>
				<input class="submit-btn" value="Let's do this!" name="submit" type="submit"></input>
			</form>
		</div>
		<div class="widget-bottom"></div>
	</div>

	<% @widgets.each do |f| %>
		<div class="indiv-widget">
			<div class="widget-topper"></div>
			<div class="widget-content">
				<iframe width="200" height="150" src="http://www.youtube.com/embed/2HH8clXjq2c" frameborder="0" allowfullscreen></iframe>
				<img class="widget-image" src="/images/armbar_example.jpg"/>
				<h3 class="widget-title">Baby Armbar</h3>
				<span class="widget-text">T9000 baby dominates other babies with armbars. <a href="#" class="widget-link">Example Link</a></span>
				<span class="minor-widget-text">Says Sensai.</span>
						</div>
			<div class="widget-bottom"></div>
		</div>
	<% end %>
</div>

