<div class="sidebar">
				<div class="indiv-widget">
					<div class="widget-topper"></div>
					<div class="widget-content">
						<img class="widget-image" src="/images/armbar_example.jpg"/>
						<h3 class="widget-title">Baby Armbar</h3>
						<span class="widget-text">Killing baby kills other babies with armbars. <a href="#" class="widget-link">Example Link</a></span>
						<span class="minor-widget-text">Says Sensai.</span>
					</div>
					<div class="widget-bottom"></div>
				</div>
			</div>